.ql-toolbar{
  span {
    vertical-align: middle;
  }
}
.quill-editor{
  button{
    width: 120px;
  }
}
#editor{
  font-size: 0.9em;
}
#emoji-palette{
  height: 50px;
}
.title-label{
  font-size: 1.1em;
}
.title-input {
  font-size: 1.2em;
  font-weight: 500;
}
